
body {
  font-family: sans-serif;
  font-size: 10px;
  font-style:  italic ;
}

.container {
  padding: 5px;
  margin-left: 5px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.0em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#red;
}

  
  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #FFD700;
}
